<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>CRYPTOINVEST</h5><br>
      <a href="">About</a><br>
      <a href="">For Business</a><br>
      <a href="">For Schools</a><br>
      <a href="">Shop</a><br>
      <a href="">Stories</a><br>
      <a href="">We're hiring</a>
    </div>
    <div class="col">
      <h5>RESOURCES</h5><br>
      <a href="">Beta Content</a><br>
      <a href="">Articles</a><br>
      <a href="">Forums</a><br>
      <a href="">Help</a><br>
      <a href="">Blog</a><br>
      <a href="">Roadmap</a><br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a>Privacy Policy </a>
      <a>Do Not Sell My Personal Information </a>
      <a>Terms</a><br>
      <p>Made with️❤️in PU, CRO © 2020 CRYPTOINVEST</p>
    </div>
  </div>
</div>
