<div id="quiz-container" class="container-fluid">
  <div>
    <div class="row justify-content-around">
      <div class="col-6 mt-5 ml-3">
      <h2 class="no-idea font-weight-bold">Have no idea where
        to start?
      </h2>
      <p>No need to worry, we'll help you make<br>
        sense of it all.
      </p>
      <button id="button-quiz" class="font-weight-bold">Take Our Quiz</button>
    </div>
      <div class="col-4 content-center">
        <img src="../../assets/images/crypto-invest.jpg" class="img-fluid rounded" alt="Responsive image">
      </div>
    </div>
  </div>
</div>
<div id="best-system-container" class="container-fluid">
  <div class="row content-center">
    <div class="col font-weight-bold">
      <h2 class="h2-system mb-3">First, we invented the best system for learning <br>to invest.</h2>
      <h2 class="h2-system">Six months and 45 thousand learners later, we've <br>perfected it.</h2>
    </div>
  </div>
</div>
