<div id="quiz-container" class="container-fluid">
  <div>
    <div id="take-quiz">
      <h2 class="no-idea">Have no idea where<br>
        to start?
      </h2>
      <p>No need to worry, we'll help you make<br>
        sense of it all.
      </p>
      <button id="button-quiz" class="font-weight-bold">Take Our Quiz</button>
    </div>
  </div>
</div>
<div id="best-system-container" class="container-fluid">
  <div class="row content-center">
    <div class="col font-weight-bold">
      <h2 class="h2-system">First, we invented the best system for learning <br>to code.</h2>
      <h2 class="h2-system">Seven years and 45 million learners later, we've <br>perfected it.</h2>
    </div>
  </div>
</div>
