<div class="vh-100 container-fluid">
  <nav class="navbar fixed-top navbar-light border-bottom card-body py-2">
    <a class="navbar-brand h3 ml-4">Crypto Invest</a>
    <button type="button" class="btn btn-link ml-auto mr-1 font-weight-bold">Log in</button>
    <button type="button" id="sign-up" class="btn btn-primary ml-4 mr-5 px-3 py-2 font-weight-bold">Sign up</button>
  </nav>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
      </div>
    </div>
    <div class="col-6">
      <form class="px-5 mx-3 mt-5">
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
      </form>
    </div>
  </div>
</div>
