<div class="vh-100 container-fluid overflow-auto">
  <app-navigation></app-navigation>
  <div class="row">
    <div class="col-6">
      <img src="../../assets/images/crypto-invest.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
    <div class="col-6">
      <form class="px-5 mx-3 mt-5">
        <div class="form-group">
          <label id="get-started" class="font-weight-bold"><b>Get Started For Free</b></label><br>
          <label class="font-weight-bold pt-2">Email</label>
          <input type="email" class="form-control form-control-lg">
          <label class="font-weight-bold pt-3">Password</label>
          <input type="email" class="form-control form-control-lg">
          <button id="start-investing" type="button" class="btn btn-primary btn-lg btn-block font-weight-bold mt-3">Start investing now</button>
          <label class="pt-2">By signing up for CryptoInvest, you agree to<br>
            CryptoInvest's Terms of Service & Privacy Policy.</label>
          <label class="font-weight-bold pt-2">Or, use another account</label>
        </div>
      </form>
    </div>
  </div>
  <div id="quiz-container" class="container">
    <div>
      <div id="take-quiz">
        <h2 class="no-idea">Have no idea where<br>
          to start?
        </h2>
        <p>No need to worry, we'll help you make<br>
          sense of it all.
        </p>
        <button id="button-quiz" class="font-weight-bold">Take Our Quiz</button>
      </div>
      </div>
  </div>
  <div id="best-system-container" class="container">
    <div class="row content-center">
      <div class="col font-weight-bold">
        <h2 class="h2-system">First, we invented the best system for learning to <br>code.</h2>
        <h2 class="h2-system">Seven years and 45 million learners later, we've <br>perfected it.</h2>
      </div>
    </div>
  </div>
  <app-list></app-list>
  <app-what-to-learn></app-what-to-learn>
  <app-get-started></app-get-started>
  <app-footer></app-footer>
</div>
