<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="circle">
        <span class="counter">
          1
        </span>
      </div>
    </div>
    <div class="col-4">
    <img src="../../assets/images/crypto-invest.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
    <div class="col-5">
      <div class="col-11">
        <h3>Learn about history of money and cryptocurrencies</h3>
        <p>In this unprecedented time of incoming recession, learn how economies during history have fallen and how modern government didn't learn that quantitative easing meaning printing money is not the solution to our problem.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="circle">
        <span class="counter">
          2
        </span>
      </div>
    </div>
    <div class="col-4">
    <img src="../../assets/images/crypto-invest.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
    <div class="col-5">
      <div class="col-11">
      <h3>Learn by doing</h3>
      <p>Start investing right now on dummy sites with help of our personal investors</p>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="circle">
        <span class="counter">
          3
        </span>
      </div>
    </div>
    <div class="col-4">
    <img src="../../assets/images/crypto-invest.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
    <div class="col-5">
      <div class="col-11">
      <h3>Get instant feedback</h3>
      <p>Our investors and gurus will be available 24/7 replying to your messages in regards of latest dos, donts and trends.</p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="circle">
        <span class="counter">
          4
        </span>
      </div>
    </div>
    <div class="col-4">
    <img src="../../assets/images/crypto-invest.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
    <div class="col-5">
      <div class="col-11">
      <h3>Achieve financial freedom</h3>
      <p>Don't rely on government to help you during crysis, rely on yourself because you are your greatest investment. Retire early, travel, work how many hours you want, it's not because someone gave you this, it's because you've earned it.</p>
    </div>
    </div>
  </div>
</div>
