.row
  border: 1px solid blue
  margin-bottom: 4rem
  //padding: 5rem
.img-fluid
  width: 15rem
  height: 10rem
h3
  color: #141c3a
  font-size: 1.6rem
p
  font-family: Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
  color: #141c3a
  font-size: 1.125rem
  line-height: 2rem

