<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <h1>Tell us <span style="color: #6400E4">why</span> you want<br>
        to learn to invest<br>
        We'll show you <span style="color: #ffd500">where</span><br>
        to invest
      </h1>
    </div>
  </div>
  <div id="courses" class="row content-center">
      <div class="col-4">
        <h3><span style="color: #6400E4">Bit</span>coin</h3>
        <hr>
        <p class="text-left">Bitcoin is a cryptocurrency invented in 2008 by an unknown person or group of people using the name Satoshi Nakamoto and started in 2009 when its implementation was released as open-source software.</p>
      </div>
      <div class="col-4">
        <h3><span style="color: #6400E4">Eth</span>ereum</h3>
        <hr>
        <p class="text-left">Ethereum is the second-largest cryptocurrency platform by market capitalization, behind Bitcoin. It is a decentralized open source blockchain featuring smart contract functionality.</p>
      </div>
      <div class="col-4">
        <h3><span style="color: #6400E4">Alt</span>coins</h3>
        <hr>
        <p class="text-left">Altcoins are the other cryptocurrencies launched after the success of Bitcoin.The term "altcoins" refers to all cryptocurrencies except <br>Bitcoin.</p>
      </div>
  </div>
</div>
