<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <h1>Tell us why you want<br>
        to learn to invest<br>
          We'll show you where<br>
        to invest
      </h1>
    </div>
  </div>
  <div id="courses" class="row content-center">
      <div class="col-4">
        <h3>Bitcoin</h3>
        <p class="text-left">Bitcoin is a cryptocurrency invented in 2008 by an unknown person or group of people using the name Satoshi Nakamoto and started in 2009 when its implementation was released as open-source software.</p>
      </div>
      <div class="col-4">
        <h3>Ethereum</h3>
        <p class="text-left">Ethereum is the second-largest cryptocurrency platform by market capitalization, behind Bitcoin. It is a decentralized open source blockchain featuring smart contract functionality.</p>
      </div>
      <div class="col-4">
        <h3>Altcoins</h3>
        <p class="text-left">Altcoins are the other cryptocurrencies launched after the success of Bitcoin.The term "altcoins" refers to all cryptocurrencies except <br>Bitcoin.</p>
      </div>
  </div>
</div>
