<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <h1>Tell us why you want<br>
        to learn to code<br>
          We'll show you what<br>
        to learn
      </h1>
    </div>
  </div>
  <div id="courses" class="row content-center">
      <div class="col-4">
        <h3>Web Development</h3>
        <p class="text-left">Master the languages of web:<br>
        HTML,CSS, and Javascript. This<br>
        path will prepare you to build<br>
        basic websites and then build<br>
        interactive web apps.</p>
      </div>
      <div class="col-4">
        <h3>Web Development</h3>
        <p class="text-left">Master the languages of web:<br>
          HTML,CSS, and Javascript. This<br>
          path will prepare you to build<br>
          basic websites and then build<br>
          interactive web apps.</p>
      </div>
      <div class="col-4">
        <h3>Web Development</h3>
        <p class="text-left">Master the languages of web:<br>
          HTML,CSS, and Javascript. This<br>
          path will prepare you to build<br>
          basic websites and then build<br>
          interactive web apps.</p>
      </div>
  </div>
</div>
